.btn-flotante {
    .boton-wsp {
        position: fixed;
        width: 70px;
        height: 70px;
        padding: 0 20px;
        line-height: 55px;
        bottom: 50px;
        right: 50px;
        background: #0df053;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        font-size: 25px;
        text-decoration: none;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width: 900px) {
            bottom: 30px;
            right: 30px;
            width: 50px;
            height: 50px;
            font-size: 18px;
            padding: 0 5px;
        }

        &:hover {
            background: #00ff51;
        }

        i {
            font-size: 30px;

            @media(max-width: 900px) {
                font-size: 20px;
            }

        }

        .banderas {
            display: flex;
            position: absolute;
            gap: 3px;
            top: 55px;

            @media(max-width: 900px) {
                top: 40px;
            }

            img {
                width: 30px;
                height: 30px;
                object-fit: contain;

                @media(max-width: 900px) {
                    width: 20px;
                    height: 20px;
                }
            }
        }

    }
}