.main {
  background-color: #f5f1ed;
  margin: auto;
  color: rgb(33, 33, 33);
  /* font-family: "Jost", sans-serif; */
  /* font-optical-sizing: auto; */
}

.line {
  background-color: #3a7ff2;
  height: 3px;
  width: 70px;
  margin: 0px 0 10px 0;
}
